@page
@model HtmlLayout.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    var j = 0;
}

<div class="mainContainer">
    <div class="infoContainer">
        <div class="infoPic">
            @for (var i = 0; i < @Model.slideshow.Length; i++)
            {
                <div class="slides fade">
                    @{j = i + 1;}
                    <div class="numbertext">@j / @Model.slideshow.Length  </div>
                    <img src="~/images/@Model.slideshow[i]">
                </div>
            }
            <a class="slideshowButton" onclick="moveToSlide(-1)">&#10094;</a>
            <a class="slideshowButton right" onclick="moveToSlide(1)">&#10095;</a>
        </div>
        <div class="infoText">
            <p>@Model.loggedIn </p>
            @for (var i = 0; i < @Model.texts.Length; i++)
            {
                <div class="texts fade">
                    <p>@Model.texts[i]</p>
                </div>
            }
        </div>
    </div>
    <div class="navContainer">
        @if (@Model.loggedIn == "false")
        {
        <div class="navButtonGroup">
            <a class="navbar-brand" onClick=openForm()>
                <button class="buttonCurrent">
                    <span class="material-icons bigSize">login</span>
                    <br>Logga in
                </button>
            </a>
            <p>Välkommen till aktivitetslaboratoriet!</p>
        </div>
        }
        else
        {
        <div class="navButtonGroup">
            <a class="navbar-brand" asp-area="" asp-page="/Index">
                <button class="buttonCurrent">
                    <span class="material-icons bigSize">home</span>
                    <br>Hem
                </button>
            </a>
            <a class="navbar-brand" asp-area="" asp-page="/System">
                <button>
                    <span class="material-icons bigSize">dvr</span>
                    <br>System
                </button>
            </a>
            <a class="navbar-brand" asp-area="" asp-page="/Settings">
                <button>
                    <span class="material-icons bigSize">settings</span>
                    <br>Inställningar
                </button>
            </a>
            <a class="navbar-brand" id="logoutBtn" asp-page-handler="LogoutBtn">
                <button>
                    <span class="material-icons bigSize">logout</span>
                    <br>Logga ut
                </button>
            </a>
        </div>
        }
    </div>
    @if (@Model.loggedIn == "false")
    {
        <div class="loginPopup" id="loginForm">
                <form class="loginContainer" runat="server">
                    <h1 style="font-family:system-ui"> Logga in</h1>

                    <label for="username"><b style="font-family:system-ui">Användarnamn</b></label>
                    <input class="use-keyboard-input" type="text" placeholder="Skriv in användarnamn" name="username" required>

                    <label for="password" style="font-family:system-ui"><b>Lösenord</b></label>
                    <input class="use-keyboard-input" type="password" placeholder="Skriv in lösenord" name="password" required>

                    <button type="submit" class="loginButton" asp-page-handler="LoginBtn">Logga in</button>
                    <button type="button" class="loginButton cancel" onclick="closeForm()">Stäng</button>
                    <p>@Model.loginMessage</p>
                </form>
        </div>
        <script src="~/js/keyboard.js"></script>
        <div class=keyboard></div>
    }
</div>
<script type="text/javascript">
    var slideIndex = 1;
    showSlide(slideIndex);
    idleCheck();

    function moveToSlide(n) {
        showSlide(slideIndex += n);
    }

    function showSlide(n) {
        var j;
        var slides = document.getElementsByClassName("slides");
        var texts = document.getElementsByClassName("texts");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (j = 0; j < slides.length; j++) {
            slides[j].style.display = "none";
            texts[j].style.display = "none";
        }
        texts[slideIndex - 1].style.display = "block";
        slides[slideIndex - 1].style.display = "block";
    }


    function idleCheck() {
        var t;
        window.onload = resetTimer;
        window.onmousedown = resetTimer;
        window.ontouchstart = resetTimer;
        window.ontouchmove = resetTimer;
        window.onclick = resetTimer;
        window.onkeydown = resetTimer;
        window.addEventListener('scroll', resetTimer, true);

        function reload() {
            document.getElementById('logoutBtn').click();
        }

        function resetTimer() {
            clearTimeout(t);
            t = setTimeout(reload, 10000);  // milliseconds
        }
    }

    function openForm() {
        document.getElementById("loginForm").style.display = "block";
    }

    function closeForm() {
        document.getElementById("loginForm").style.display = "none";
    }
</script>